.slider {
    width: 1200px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slider__items {
    display: flex;
    transition: transform .5s ease;
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}

.new_slideshow {
    width: 1200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slides {
    display: flex;
    transition: transform .5s ease;
}

.slide {
    flex: 0 0 16%;
    max-width: 100%;
}